:root {
  --primary: #66fcf1;
  --secondary: #45a29e;
  --dark: #0b0c10;
  --light: #c5c6c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--dark);
}

.app-grid {
  display: grid;
  margin: 3rem 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.display-abv {
  text-align: center;
  color: var(--primary);
  font-size: 2rem;
  margin: 2rem;
}

/* Display for Brews */
.display-brews {
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.display-brews ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  background: var(--light);
  transition: all 500ms ease;
}

.display-brews ul li:hover {
  transform: scaleY(1.1) scaleX(1.1);
  margin: 1rem;
  color: var(--secondary);
}

.edit {
  cursor: pointer;
  color: #00aa00;
}

.delete {
  cursor: pointer;
  color: #ff0000;
}