:root {
  --primary: #66fcf1;
  --secondary: #45a29e;
  --dark: #0b0c10;
  --light: #c5c6c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--dark);
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.display-abv {
  text-align: center;
  color: var(--primary);
  font-size: 2rem;
  margin: 2rem;
}

.display-brews {
  margin: 3rem auto;
  color: var(--secondary);
  width: 300px;
  height: 100%;
}

.display-brews ul > li {
  list-style: none;
  text-align: center;
  background: var(--light);
  margin-top: 0.5rem;
}

.edit {
  cursor: pointer;
  color: #00aa00;
}

.delete {
  cursor: pointer;
  color: #ff0000;
}