:root {
  --primary: #66fcf1;
  --secondary: #45a29e;
  --dark: #0b0c10;
  --light: #c5c6c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--dark);
}

/* Home Page Grid and Display */
.app-grid {
  display: grid;
  gap: 3rem;
  margin: 3rem auto;
  max-width: 1370px;
  grid-template-columns: repeat(2, 1fr);
}

.display-abv {
  text-align: center;
  color: var(--primary);
  font-size: 2rem;
  margin: 2rem;
}

.display-brews {
  border-top: 5px solid var(--primary);
  border-bottom: 5px solid var(--primary);
  border-radius: 1rem;
  max-width: 500px;
  transition: all 500ms ease;
}

.display-brews ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  margin: 0.5rem auto;
  border-radius: 15px;
  width: 95%;
  background: var(--light);
  transition: all 500ms ease;
}

.display-brews ul li:hover {
  transform: scale(1.1);
  margin: 1rem auto;
  color: var(--secondary);
}

/* Brewd Page Container */
.brewd-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-top: 5px solid var(--primary);
  border-bottom: 5px solid var(--primary);
  border-radius: 1rem;
  max-width: 1000px;
  min-height: 1rem;
  margin: 2rem auto;
}

.grid-item {
  background-color: var(--light);
  text-align: center;
  padding: 0.5rem;
  margin: 0.25rem;
  line-height: 2rem;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 500ms ease;
}

.grid-item :last-child {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

/* Utility Classes */
.btn {
  cursor: pointer;
  background: var(--dark);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  transition: all 500ms ease-in;
  border: none;
}

.edit {
  color: #00aa00;
}

.delete {
  color: #ff0000;
}

/* Desktops, Laptops, Screens */
@media only screen and (min-width: 1200px) {
  /* Brewd Page */
  .grid-item:hover {
    color: var(--secondary);
    transform: scale(1.1);
  }

  .btn:hover {
    color: var(--secondary);
    background: var(--light);
  }
}

/* Tablets */
@media (max-width: 1190px) and (orientation: landscape) {
  .grid-item {
    transition: all 250ms ease;
  }

  .grid-item:active {
    color: var(--secondary);
    transform: scale(1.1);
  }

  .display-brews ul li {
    transition: all 250ms ease;
  }

  .display-brews ul li:active {
    transform: scale(1.1);
    margin: 1rem auto;
    color: var(--secondary);
  }
}